* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233, 233, 233);
  font-family: Inknut Antiqua, serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.trybewarts-header-logo {
  width: 60px;
  padding: 10px;
  margin-left: 20px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#email {
  width: 160px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-family: Inknut Antiqua, serif;
}

#password {
  width: 160px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-family: Inknut Antiqua, serif;
}

#btn-entrar {
  width: 160px;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 0.9em;
  border: none;
  text-align: center;
  color: white;
  background-color: rgb(74, 0, 160);
  font-family: Inknut Antiqua, serif;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#evaluation-form hr {
  width: 550px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(199, 199, 199);
}

#evaluation-form {
  width: 675px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  color: rgb(42, 42, 42);
}

#evaluation-form h2 {
  margin-left: 130px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.name-lastname {
  display: inline-block;
}

.name-lastname input {
  width: 260px;
  height: 30px;
  margin: 5px 1px;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  font-family: Inknut Antiqua, serif;
}

.email-house input {
  width: 260px;
  height: 30px;
  margin: 5px 1px;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  font-family: Inknut Antiqua, serif;
}

.email-house {
  display: inline-block;
  font-family: Inknut Antiqua, serif;
}

#house {
  width: 205px;
  height: 30px;
  margin: 5px 1px;
  border-radius: 5px;
  border: 2px solid white;
  text-align: center;
  font-family: Inknut Antiqua, serif;
}

.container-central {
  display: flex;
  flex-direction: row wrap;
  width: 550px;
  justify-content: space-between;
}

.family {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.conteudo-aprender {
  display: flex;
  flex-flow: row wrap;
  width: 320px;
}

textarea {
  border: 1px solid rgb(74, 0, 160);
  border-radius: 5px;
  width: 550px;
}

#submit-btn {
  width: 550px;
  background-color: rgb(74, 0, 160);
  color: white;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 0.9em;
  font-family: Inknut Antiqua, serif;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: rgb(87, 87, 87);
  color: white;
  text-align: center;
  font-size: 1.2em;
  height: 40px;
}
